<div class="wrapper" ng-controller="imageController">
    <div class="sidebar">
        <div id="welcome_image" class="side-bar-padding welcome-side" style="padding-top: 50px; color:#FFFFFF;">
            <h1 class="center" style="margin-top: 0%;"> Upload Your Image </h1>
            <h2 class="center" style="margin-bottom: 24%"> Click on the button below to upload your image </h2>
            <button type="button" class="center btn-large" id="uploadImage">Add Your New Image</button>
        </div>
        <div id="upload_image" class="side-bar-padding create-side">
            <h1 class="center" style="margin-top: 0%; padding-top: 16%;"> Upload Your New Image</h1>
            <span>
              <form ng-submit="addImage()" name="imageForm" enctype="multipart/form-data" novalidate>
                <h1> Image Name</h1>
                <input type="text" name="imageName" placeholder="Image Name" ng-model="image.image_name" required>
                <span class="text-warning" ng-show="imageForm.imageName.$error.required">Image name cannot be empty</span>
                <span class="text-warning" ng-show="imageForm.imageName.$error.fileName">Image name is already exist</span>
                <h1> File</h1>
                <input type ="file" ng-model="image.upload"  id="upload_file" name="imageUpload" onchange="angular.element(this).scope().uploadFile()" />
                <div class="text-warning" ng-show="imageForm.imageUpload.$error.required">Image file cannot be empty</div>
                <div class="text-warning" ng-show="imageForm.imageUpload.$error.fileType">File extension is not valid, must be either .png or .jpg</div>
                <div class="text-warning" ng-show="imageForm.imageUpload.$error.fileSize">File size is bigger than 4 MB</div>
                <span class="text-info">Max upload 4 MB file</span>
                <input type="submit" class="center" value="Upload" style="border:0;margin-top:20px; background-color:#FFFFFF; color:#0daf83" ng-disabled="imageForm.$invalid">
              </form>
          </span>
        </div>
        
        <div id="update_page" class="side-bar-padding update-side">
            <h1 class="center" style="margin-top: 0%; padding-top:16%;"> Update Your Image</h1>
            <form name="updateImageForm" ng-submit="updateImage(update.id)" enctype="multipart/form-data" novalidate>
                <h1> Image Name</h1>
                <input type="text" name="image_name" placeholder="Image Name" ng-model="update.name"><br>
                <h1> File</h1>
                <input type ="file" ng-model="update.upload" name="updateUpload" onchange="angular.element(this).scope().updateFile()">
                <div class="text-warning" ng-show="updateImageForm.updateUpload.$error.required">Image file cannot be empty</div>
                <div class="text-warning" ng-show="updateImageForm.updateUpload.$error.fileType">File extension is not valid, must be either .png or .jpg</div>
                <div class="text-warning" ng-show="updateImageForm.updateUpload.$error.fileSize">File size is bigger than 4 MB</div>
                <span class="text-muted">Max upload 8 MB file</span>
                <input type="submit" class="center" value="Update" ng-disabled="updateImageForm.$invalid" style="border:0; margin-top:20px; margin-bottom:8px; background-color:#FFFFFF; color:#5bc0de">
                <button type="button" class="center btn-cancel" id="cancel_update">Cancel</button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="container section" style="width:auto;">
            <!--to display image-->
            <div class="search-bg">
                <div class="search" style="margin-bottom: 20px; margin-left: 20px; margin-top: 12px">
                    <input type="text" name="q" placeholder="Search..." ng-model="searchImage.name" />
                </div>
            </div>
            <div id="image_list" class="flex-container">
                <ul ng-repeat="img in images | filter:searchImage">
                    <li class="flex-item">
                        <div class="card grey-bg">
                            <img class="card-img-top" ng-src="{{image.image_url}}" alt="Card image cap">
                                <div class="card-block">
                                    <p class="card-text name-holder">{{img.name}}</p>
                                </div>
                        </div>
                    </li>
                    <button class="btn btn-danger glyphicon glyphicon-trash clickable icon-delete" ng-click="deleteImage(img.id)"></button>
                    <button class="btn btn-info glyphicon glyphicon-pencil clickable icon-update" ng-click="getImage(img.id)"></button>
                </a>
            </ul>
        </div>
        
    </div>
  </div>

  <div class="cleared">
  </div>
</div>

<script type="text/javascript">
(function() {
    $(document).ready(function(){
        
        var height = 1200;
        $('.sidebar').css("min-height", height);
        $('.welcome-side').css("min-height", height);
        $('.create-side').css("min-height", height);
        $('.update-side').css("min-height", height);
        
        // when user resize their window
        $(window).resize(function(){
            var curr_height = $(window).height();
            // if(curr_height < height){
            //     $('.sidebar').css("position ", "absolute ");  //current setup!
            // }else if(curr_height == height){
            //     $('.sidebar').css("position ", "fixed ");
            // }
        });
        
        $("#upload_image").hide();
        $("#update_page").hide();
    
        $('#uploadImage').click(function(){
           $("#welcome_image").hide();
           $("#upload_image").show(); 
        });
        
        $('#cancel_update').click(function(){
           $("#welcome_image").show();
           $("#update_page").hide();
        });
       
    });

})();
</script>