<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-bar">
        <div class="navbar-header">
             <a class="navbar-brand" href="#">Vumix File Manager</a>
             <!--<ul class="breadcrumb">
                <li class="active">Home</li>
             </ul>-->
         </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
             <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, User!<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
      
    </div>
</nav>
  
<div class="wrapper">
  <div class="sidebar">
       <section class="main">
        <form class="search" method="post" action="index.html" >
            <input type="text" name="q" placeholder="Search..." />
            <ul class="results" >
                <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
                <li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
                <li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
                <li><a href="index.html">Search Result #4</a></li>
            </ul>
        </form>
      </section>
      <div id="welcome_page" class="side-bar-padding">
          <h1 class="center" style="margin-top: 50%; margin-bottom: 20%"> Welcome to Vumix </h1>
          <h2 class="center" style="margin-bottom: 24%"> Click on the create button below to start a new project </h2>
          <button type="button" class="center" id="createProject">Create</button>
      </div>
      <div id="create_project" class="side-bar-padding">
          <h1 class="center" style="margin-top: 50%; margin-bottom: 20%"> Create Your New Project</h1>
          <span>
              <form>
                <h1> Organisation Name</h1>
                <input type="text" name="org_name" placeholder="Organisation Name"><br>
                <h1> Project Name</h1>
                <input type="text" name="project_name" placeholder="Project Name"><br>
                <h1> Target Name</h1>
                <span>
                    <input type="text" name="target_name" placeholder="Target Name" style="width:74%;"><br><button style="background-color:#CC8262; margin-top: -39px; width: 26%; float:right;">Browse</button>
                </span>
                <a href="https://developer.vuforia.com/">Find out how to create a target</a>
                <input type="submit" class="center" value="Create" style="margin-top:48px; background-color:#FF9640; color:#FFFFFF">
              </form>
          </span>
      </div>    
  </div>
  
  <div class="content">

    <div class="container section">
        <div class="row">
            <div class = "col-md-3"> .col md3</div>
            <div class = "col-md-3"> .co lmd3</div>
            <div class = "col-md-3"> .co lmd3</div>
            <div class = "col-md-3"> .co lmd3</div>
        </div>
    </div>
  </div>

  <div class="cleared">
  </div>
</div>

<script type="text/javascript">

$(function() {
    $(document).ready(function(){
        var curr_height = $(window).height();
        $('.sidebar').css("height", curr_height);
        $('.sidebar').css("min-height", curr_height);
        
        $("#create_project").hide();
        $(".sub-menu").hide();
         
        $('#createProject').click(function(){
           $("#welcome_page").hide();
           $("#create_project").show(); 
        });
        
        $('a[href="#dropdown"]').click(function(){
           $(".sub-menu").toggle();
        });
    });
    
    $('a[href="#project"]').click(function(){
       $("#content-header").text("Existing project");
       $("#create_button").text("Create a new project");
       $("#first_opt").text("New project");
       $("#second_opt").text("Duplicate project");
       $("#modal-title").text("Create a new project");
       $("#modal-desc").text("Click or drag and drop vuforia package");
    }); 
    
    $('a[href="#model"]').click(function(){
       $("#content-header").text("Existing model");
       $("#create_button").text("Upload a new model");
       $("#first_opt").text("Upload new model");
       $("#second_opt").text("Delete model");
       $("#modal-title").text("Upload a new model");
       $("#modal-desc").text("Click or drag and drop new model");
    }); 
});

</script>