<div class="wrapper" ng-controller="modelController">
    <div class="sidebar">
        <div id="welcome_model" class="side-bar-padding">
            <div class="search" style="margin-top:10px">
                <input type="text" name="q" placeholder="Search..." data-ng-model="search.name" />
            </div>
            <h1 class="center" style="margin-top: 20%;"> Welcome to Vumix </h1>
            <h2 class="center" style="margin-bottom: 24%"> Click on the button below to upload your model </h2>
            <button type="button" class="center btn-large" id="uploadModel">Add New Model</button>
        </div>
        <div id="upload_model" class="side-bar-padding">
            <h1 class="center" style="margin-top: 20%;"> Upload Your New Model Here</h1>
            <span>
              <form ng-submit="addModel()" name="modelForm" enctype="multipart/form-data" novalidate>
                <label> Model Name</label>
                <input type="text" name="modelName" placeholder="Model Name" ng-model="model.model_name" required>
                <span class="text-danger" ng-show="modelForm.modelName.$error.required">The file name cannot be empty</span>
                <h1> File</h1>
                <input type ="file" ng-model="model.upload" name="modelUpload" style="color:#FFFFFF" onchange="angular.element(this).scope().uploadFile()" />
                <div class="text-danger" ng-show="modelForm.modelUpload.$error.required">Model file cannot be empty</div>
                <div class="text-danger" ng-show="modelForm.modelUpload.$error.fileType">File extension is not valid, must be either .3ds .fbx or .obj</div>
                <span class="text-info">Max upload 8 MB file</span>
                <!--<form class="form-horizontal" id="add-product-form" action="#" method="post">
                    <div id="dropzone_model" class="dropzone" style="color:#000000;min-height: 100px;"></div>  This is the dropzone element -->
                <!--</form>-->
                <input type="submit" class="center" value="Upload" style="margin-top:20px; background-color:#FF9640; color:#FFFFFF" ng-disabled="modelForm.$invalid">
              </form>
          </span>
        </div>
    </div>
    
    <!--modal to update model-->
    <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">        
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                    <h4 class="modal-title"> Your model</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="updateModel(model.id)" enctype="multipart/form-data">
                        <h1> Model Name</h1>
                        <input type="text" name="model_name" placeholder="Model Name" ng-model="update.name"><br>
                        <h1> File</h1>
                        <input type ="file" style="color:#FFFFFF" custom-on-change="uploadFile">
                        <!--<form class="form-horizontal" id="add-product-form" action="#" method="post">
                            <div id="dropzone_project" class="dropzone" style="color:#000000; min-height:50px;"></div>  This is the dropzone element 
                        </form>-->
                        <input type="submit" data-dismiss="modal" class="center" value="Update" style="margin-top:20px; background-color:#FF9640; color:#FFFFFF">
                    </form>
                </div>           
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container section" style="width:auto;">
            <!--to display model-->
            <div id="model_list" class="flex-container">
                <ul ng-repeat="md in models">
                   <li class="flex-item">
                        <div class="card">
                            <img class="card-img-top" ng-src="{{model.image_url}}" alt="Card image cap">
                                <div class="card-block">
                                    <p class="card-text" style="background-color: #0097FF; color: #FFFFFF; text-align:center; margin-bottom:0px;">{{md.name}}</p>
                                </div>
                        </div>
                    </li>
                    <button class="btn btn-danger" ng-click="deleteModel(md.id)">Delete</button>
                    <button class="btn btn-info" data-toggle="modal" data-target="#myModel" ng-click="getModel(md.id)">Update</button>
                </a>
            </ul>
        </div>
        
    </div>
  </div>

  <div class="cleared">
  </div>
</div>

<script type="text/javascript">
(function() {
    $(document).ready(function(){
        
        var height = 1200;
        $('.sidebar').css("min-height", height);
        
        // when user resize their window
        $(window).resize(function(){
            var curr_height = $(window).height();
            // if(curr_height < height){
            //     $('.sidebar').css("position ", "absolute ");  //current setup!
            // }else if(curr_height == height){
            //     $('.sidebar').css("position ", "fixed ");
            // }
        });
        
        $("#upload_model").hide();

    
        $('#uploadModel').click(function(){
           $("#welcome_model").hide();
           $("#upload_model").show(); 
        });
        
    });

})();
</script>