/* global */

.page-view {
    height: 100%;
}

/* Jeffrey's */

.fullscreen-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.resizable-panels { 
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

.resizable-panels .panel {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  border-radius         : 0;
  -moz-border-radius    : 0;
  -webkit-border-radius : 0;
}

.resizable-panels .panel-heading, .resizable-panels .panel-body {
  padding: 2px 10px;
}

.resizable-panels .panel-title {
  font-size: 14px;
}

.resizable-panels .panel-body {
  font-size: 12px;
}

.resizable-panels .panel-button {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.content {
  width: calc(100% - 300px);  
}

.content nav {
  min-height: 40px;
  margin: 0;
}

.content a {  
  font-size: 14px;
}

a.navbar-brand {
  font-size: 16px;
}

.nav.navbar-nav.navbar-cursor {
  border-right: 2px solid #ebebeb;
}

form.compressed .form-group {
  margin-bottom: 0;
}

form.compressed input[type="text"] {
  height: 20px;
  padding: 0;
  text-align: center;
}

form.compressed div {
  padding-left: 0;
  padding-right: 0;
}

.frame .thumbnail {
  margin-bottom: 0;
}

.frame .thumbnail img {
  height: 40px;
}

.frame .caption {
  text-align: center;
  white-space: normal;
}

.form-label {
  margin: 10px 0;
}

.form-label + input {
  margin-bottom: 20px;
}

/* Michelle's */
.window { 
    
}

.window:hover{ 
    cursor: pointer;
}

.menu { 
    background-color: #EFEFEF;
    border: 1px solid #346789;
    box-shadow: 2px 2px 5px #AAAAAA;
    color: black;
    min-height: 3em;
    position: absolute;
    min-width: 5em;
}

.task { 
    background-color: #EEEEEF;
    border: 1px solid #346789;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px #AAAAAA;
    color: black;
    min-height: 3em;
    position: absolute;
    min-width: 5em;
}

.point{ 
    max-width: 180px;
    margin-top: 1px;
    padding-right: 10px;
    padding-left: 5px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.point:hover { 
    box-shadow: 2px 2px 19px #AAAAAA;
}
        
.aLabel {
 	background-color:white; 
	padding:0.4em; 
	font:12px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:1;
	filter:alpha(opacity=80);
    }
        
    .aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
    background-color: #1e8151;
    color: white;
    }
        
.decision{
    transform:rotate(-45deg);
    overflow:hidden;
    border: 1px solid #346789;
    border-radius: 0.3em;
    color: black;
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #F4F4F4;
    box-shadow: 0 0 0 1px #CCCCCC;
    color: #000000;
    display: block;
    height: 80px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 80px;
}

.decision .ctrl_container{
    display: table-cell;
    height: 80px;
    padding: 0 10px;
    text-align: center;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 80px;
}

.button {
    text-align: center;
    border: 1px solid;
    margin: 5px;
}

.button:hover {
    cursor: pointer;
}

.scrollbar {
margin-left: 30px;
float: left;
height: 1000px;
width: 250px;
background: #F5F5F5;
overflow-y: scroll;
margin-bottom: 25px;
}

.force-overflow {
min-height: 1000px;
}

.menu_button{
    padding:5px;
}

.menu_button:hover{
    background-color:#AAAAAA;
    color:black;
}
        
p{
    font-family: 'Palanquin', sans-serif;
    font-size: 15px;
    opacity: 0.7;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
}

.button_add{
    background-color: #00CC00;
    float:left;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding:2px;
    height:25px;
    width:25px;
    color:grey;
}

.button_add:hover{
    background-color: #00AA00;
    color:black;
}

.button_editor,
.button_remove{
    color:darkgrey;
    border-radius: 30%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding:5px;
    min-width:20px;
    max-width:20px;
    text-align:center;
}

.task .button_remove{
    float:right;
}

.decision .button_remove{
    margin: auto auto;
}

.button_remove:hover{
    background-color: darkred;
    color:white;
}

.menu_button_container {
    margin: 5px;
}

.ctrl_container{
    margin:5px;
    height:40px;
}

.details_container{
    margin:5px;
    min-height:40px;
}

.detail_label{
    font-size: 9pt;
    color:grey;
}

.detail_text{
    width:80px;
    font-size: 10pt;
}

._jsPlumb_connector, ._jsPlumb_startpoint{
    cursor: pointer;
}