.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.btn-large {
  background-color: #FF9640;
  height: 41px;
  width: 100%; }

.top-bar {
  background: #FFFFFF;
  background-image: url(url();
  height: 80px;
  width: 100%; }

.below-top-bar {
  background: #0097FF;
  height: 30px;
  width: 100%; }

.title {
  color: #0097FF;
  font-size: 52px;
  text-align: center; }
  .title img {
    height: 60px;
    margin-top: -10px;
    width: 60px; }

.container {
  background: #4A5099;
  height: 600px;
  width: 100%; }

.content {
  margin: 50px; }

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }
  .flexbox-container > div {
    padding: 10px;
    width: 50%; }
    .flexbox-container > div:first-child {
      margin-right: 20px; }
