.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.btn-large {
  background-color: #FF9640;
  height: 41px;
  width: 100%; }

.top-bar {
  background: #FFFFFF;
  height: 100px;
  width: 100%; }

.img-banner {
  background: url("../images/img_banner_transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%; }

.below-top-bar {
  background: #0daf83;
  height: 100px;
  width: 100%; }

body {
  background: #0a8c69; }

.title {
  color: #0daf83;
  font-size: 52px;
  font-weight: bold;
  text-align: center; }
  .title img {
    height: 60px;
    margin-top: -10px;
    width: 60px; }

.container {
  background: #0daf83;
  height: 400px;
  width: 100%; }

.content {
  margin: 50px; }

.flexbox-container {
  display: flex; }
  .flexbox-container > div {
    width: 50%; }

.subtitle {
  font-size: 20px;
  margin-left: 30%;
  margin-top: -13px;
  width: 50%; }

.sub-content {
  font-size: 20px;
  margin-top: 130px;
  text-align: right; }

.vertical-line {
  border-left: thick solid #FFFFFF;
  margin-left: 100px;
  margin-top: 70px;
  text-align: left; }

.btn-danger {
  margin-left: -122px;
  margin-top: 76px; }
