
#state-manager-page .bottom-divider {
  border-bottom: 2px solid #004B7F;
}

#state-manager-page .text-small {
  font-size: 12px;
  margin-top: 5px;
}

#state-manager-page .grouper {
  margin-top: 20px;
  padding-bottom: 20px;
}

#state-manager-page nav.navbar {
  background-color: #004B7F;
  border: none;
  border-radius: 0;
  margin: 0;
}

#state-manager-page nav.navbar a {
  color: white;
  font-size: 16px;
}

#state-manager-page .content .sidebar {
  background-color: #0097FF;
  color: white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  top: 50px;
  width: 300px;
}

#state-manager-page .content .sidebar .btn {
  border-radius: 0;
}

#state-manager-page .content .sidebar .btn.btn-custom {
  background-color: #0071BF;
  border: 1px solid #004B7F;
  color: white;
}

#state-manager-page .content .sidebar .btn.btn-custom:hover {
  background-color: #004B7F;
}

#state-manager-page .content .sidebar .btn.btn-custom:active {
  background-color: #002640;
}

#state-manager-page .content #state-graph {
  position: fixed;
  top: 50px;
  left: 300px;
  bottom: 0;
  right: 0;
}

#state-manager-page .content .top-alert {
  border-radius: 0;
  position: relative;
  margin-left: 300px;
  margin-bottom: 0;
  z-index: 10;
}