h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

.sidebar-style {
  margin-top: 70px;
  padding: 20px; }

.responsive-page {
  background-color: slategrey;
  height: 1200px; }

.rcorners {
  border: 2px solid #73ad21;
  height: 200px;
  margin: 20px;
  width: 200px; }

.nav-bar {
  background-color: #0097FF;
  height: 50px; }

.wrapper {
  margin-left: 300px;
  margin-top: 50px; }

.content {
  background-color: #FFFFFF;
  float: right;
  width: 100%; }

.sidebar {
  background-color: #4A5099;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word; }

.cleared {
  clear: both; }

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px; }

button {
  background-color: #FF9640;
  height: 41px;
  width: 100%; }

input {
  color: #555860;
  font-size: 13px;
  height: 40px;
  width: 100%; }

.main {
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px; }

.search {
  margin: 0 auto;
  position: relative;
  width: 250px; }
  .search input {
    background: url("../images/search.png");
    background-color: #FFFFFF;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: #CC8262;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%; }
    .search input:focus {
      border-color: #0097FF;
      outline: none; }
  .search .results {
    background-color: #FFFFFF;
    border-color: #CC8262;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10; }
    .search .results a {
      border: 1px solid transparent;
      border-radius: 3px;
      color: #555860;
      display: block;
      font-weight: 500;
      margin: 0 -1px;
      padding: 6px 40px 6px 10px;
      position: relative; }

body {
  background-color: #FFFFFF; }
