.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.modal-body {
  background-color: #FFFFFF;
  color: #CC8262; }

.modal-header, .modal-title {
  background-color: #CC8262; }

h1 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.btn-large {
  background-color: #FFFFFF;
  border: 0;
  color: #0daf83;
  height: 41px;
  width: 100%; }

.btn-cancel {
  background-color: #FFFFFF;
  border: 0;
  color: #cc0000;
  height: 41px;
  width: 100%; }

h1 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

.modal-body {
  background-color: #FFFFFF;
  color: #CC8262; }

.modal-header, .modal-title {
  background-color: #CC8262; }

.nav-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid;
  color: #0daf83;
  height: 50px; }

.top-bar {
  background-color: #FFFFFF;
  color: #555555;
  margin-top: 2px; }

.active {
  background-color: #FFFFFF;
  color: #0097FF; }

.wrapper {
  margin-left: 300px;
  margin-top: 50px; }

.content {
  float: right;
  width: 100%; }

.sidebar {
  color: #555555;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word;
  z-index: 0; }

.cleared {
  clear: both; }

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px; }

.welcome-side {
  background-color: #0daf83;
  border-right: thin solid #DBDBDB;
  color: #696969; }

.create-side {
  background-color: #0daf83;
  border-right: thin solid #DBDBDB;
  color: #FFFFFF; }

.update-side {
  background-color: #5bc0de;
  border-right: thin solid #DBDBDB;
  color: #FFFFFF; }

.panel-body {
  background-color: #0097FF; }

input {
  color: #555860;
  font-size: 13px;
  height: 40px;
  width: 100%; }

.main {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px; }

.search {
  margin: 0 auto;
  position: relative;
  width: 250px; }
  .search input {
    background: url("../images/search.png");
    background-color: #FFFFFF;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: #CC8262;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%; }
    .search input:focus {
      border-color: #0097FF;
      outline: none; }

.search-bg {
  height: 10%;
  position: fixed;
  width: auto; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 75px;
  margin-left: -21px;
  padding: 0; }

.flex-item .card img {
  width: 164px; }

.flex-item .card .name-holder {
  background-color: #CCCCCC;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: center; }

.flex-item :hover {
  opacity: .8;
  text-decoration: none; }

.grey-bg {
  background: #000000;
  opacity: 0.2; }

ul {
  list-style: none; }

.clickable {
  cursor: pointer; }

.navbar-default .navbar-nav > .open > a {
  background-color: #DBDBDB; }
  .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #DBDBDB; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #DBDBDB; }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #0daf83; }

body {
  background-color: #FFFFFF; }
