.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.modal-body {
  background-color: #FFFFFF; }

.modal-header, .modal-title {
  background-color: #CC8262; }

h1 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  display: flex;
  justify-content: flex-end; }

.btn-large {
  background-color: #FF9640;
  height: 41px;
  width: 100%; }

h1 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.padding-left {
  padding-left: 16px; }

.center {
  text-align: center; }

.section {
  padding-top: 24px; }

.modal-body {
  background-color: #FFFFFF; }

.modal-header, .modal-title {
  background-color: #CC8262; }

.nav-bar {
  background-color: #0097FF;
  height: 50px; }

.top-bar {
  background-color: #0097FF;
  margin-top: 2px; }

.active {
  background-color: #FFFFFF;
  color: #0097FF; }

.wrapper {
  margin-left: 300px;
  margin-top: 50px; }

.content {
  background-color: #FFFFFF;
  float: right;
  width: 100%; }

.sidebar {
  background-color: #4A5099;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word; }

.cleared {
  clear: both; }

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px; }

.panel-body {
  background-color: #0097FF; }

input {
  color: #555860;
  font-size: 13px;
  height: 40px;
  width: 100%; }

.main {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px; }

.search {
  margin: 0 auto;
  position: relative;
  width: 250px; }
  .search input {
    background: url("../images/search.png");
    background-color: #FFFFFF;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: #CC8262;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%; }
    .search input:focus {
      border-color: #0097FF;
      outline: none; }

.flex-container {
  -webkit-flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0; }

.flex-item .card img {
  height: 120px;
  width: 120px; }

.flex-item :hover {
  opacity: 0.8; }

ul {
  list-style: none; }

a:hover {
  text-decoration: none; }

body {
  background-color: #FFFFFF; }
