//Button
@import 'partials/color';

.btn-large{
  background-color: $bg-color;
  color: $light-green;
  height: 41px;
  width: 100%;   
}

.btn-cancel{
  background-color: $bg-color;
  color: $red;
  height: 41px;
  width: 100%;
}