//Button
@import 'partials/color';

.btn-large{
  background-color: $light-orange;
  height: 41px;
  width: 100%;   
}

.btn-browse{
  background-color: $light-brown; 
  float:right;
  height: 40px;
  margin-top: -40px; 
  width: 28%; 
}