// Shades of grey
$dim-grey: #696969;
$text-color: #585858;
$input-color: #555860;
$light-grey: #EEEEEE;

// Shades of green
$light-green : #0daf83;
$dark-green : #0a8c69;
$bright-green : #90F090;
$teal-green: #008080;

// Background color
$bg-color : #FFFFFF;

// Shades of blue
$dark-blue : #1421CC;
$hover-color: #87CEFA;
$light-blue : #0097FF;
$bright-blue: #00D0D0;

$light-brown : #CC8262;
$light-orange : #FF9640;

$purple : #4A5099;


