//list of color needed

$slate-gray: slategrey;
$color-lima-approx: #73ad21;

// Background color
$bg-color : #FFFFFF;

$dark-blue : #1421CC;
$hover-color: #87CEFA;
$light-blue : #0097FF;

$light-brown : #CC8262;
$light-orange : #FF9640;

$purple : #4A5099;

// Text input
$input-color: #555860;
