/* global */

.page-view {
    height: 100%;
}

/* Jeffrey's */

.resizable-panels { 
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

.resizable-panels .panel {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  border-radius         : 0;
  -moz-border-radius    : 0;
  -webkit-border-radius : 0;
}

.resizable-panels .panel-heading, .resizable-panels .panel-body {
  padding: 2px 10px;
}

.resizable-panels .panel-title {
  font-size: 14px;
}

.resizable-panels .panel-body {
  font-size: 12px;
}

.resizable-panels .panel-button {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.content {
  width: calc(100% - 300px);  
}

.content nav {
  min-height: 40px;
  margin: 0;
}

.content a {  
  font-size: 14px;
}

a.navbar-brand {
  font-size: 16px;
}

.nav.navbar-nav.navbar-cursor {
  border-right: 2px solid #ebebeb;
}

form.compressed .form-group {
  margin-bottom: 0;
}

form.compressed input[type="text"] {
  height: 20px;
  padding: 0;
  text-align: center;
}

form.compressed div {
  padding-left: 0;
  padding-right: 0;
}

.frame .thumbnail {
  margin-bottom: 0;
}

.frame .thumbnail img {
  height: 40px;
}

.frame .caption {
  text-align: center;
  white-space: normal;
}

.form-label {
  margin: 10px 0;
}

.form-label + input {
  margin-bottom: 20px;
}