<div class="content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><i class="fa fa-angle-left fa-lg" style="padding-right: 10px"></i>Project Name</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Preview <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Start Previewing</a></li>
          </ul>
        </li>        
        <li><a href="" data-toggle="modal" data-target="#settings-modal">Settings</a></li>
      </ul>
    </div>
  </nav>    
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav navbar-cursor">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Selection Cursor"><i class="fa fa-mouse-pointer"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Translation Cursor" ng-click="viewmodel.setTransformMode('translate')"><i class="fa fa-arrows"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Rotation Cursor" ng-click="viewmodel.setTransformMode('rotate')"><i class="fa fa-repeat"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Scale Cursor" ng-click="viewmodel.setTransformMode('scale')"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-font">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Create Text"><i class="fa fa-text-height"></i></a></li>
      <li>
        <select class="form-control" id="font-size-select">
          <option>8px</option>
          <option>10px</option>
          <option>12px</option>
          <option>14px</option>
          <option>16px</option>
        </select>
      </li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bold"><i class="fa fa-bold"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Italic"><i class="fa fa-italic"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Underline"><i class="fa fa-underline"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">      
      <li><a href="" style="padding-right: 30px;"><i class="fa fa-floppy-o fa-lg" style="margin-right: 10px"></i>Save</a></li>
    </ul>
  </nav>
  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="627px" width="1000px"></canvas>
</div>
<div class="resizable-panels">
  <div class="panel panel-default" id="panel-selector">      
    <div class="panel-heading">
      <span class="panel-title">Selector</span>
      <span class="panel-button maximise"><i class="fa fa-square-o"></i></span>
      <span class="panel-button equalise"><i class="fa fa-server"></i></span>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="warning">
            <th class="col-xs-1">#</th>
            <th class="col-xs-9">Object Name</th>
            <th class="col-xs-2">Clickable</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default" id="panel-browser">      
    <div class="panel-heading">
      <span class="panel-title">Browser</span>
      <span class="panel-button maximise"><i class="fa fa-square-o"></i></span>
      <span class="panel-button equalise"><i class="fa fa-server"></i></span>
    </div>
    <div class="panel-body">
      <div class="row">       
      </div>
    </div>
  </div>
</div>
<div id="settings-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-label">State Name:</div>
          <input id="api-key" class="form-control" type="text" value="Project Name" placeholder="Enter your project name here" required />
          <div class="row">
            <div class="col-xs-2 col-xs-offset-8">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function() {
    var minHeight = 25;

    var equalise = function() {
      $("#panel-selector").outerHeight($(window).height() / 2.0);
      $("#panel-browser").outerHeight($(window).height() / 2.0);
    }

    $("#panel-selector").resizable({
      handles: 's',
      minHeight: minHeight,
      maxHeight: $(window).height() - minHeight,
	  resize: function(evt, ui) {
		$("#panel-browser").outerHeight($(window).height() - $("#panel-selector").outerHeight());
	  }
    });

    $("#panel-browser").resizable({
      handles: 'n',
      minHeight: minHeight,
      maxHeight: $(window).height() - minHeight,
	  resize: function(evt, ui) {		
		$("#panel-selector").outerHeight($(window).height() - $("#panel-browser").outerHeight());
		$(this).css("top", 0);
	  }
    });

    $(".panel-button.equalise").on("click", equalise);

    $(".panel-button.maximise").on("click", function() {
      $(this).parent().parent().siblings().outerHeight(minHeight);
      $(this).parent().parent().outerHeight($(window).height() - minHeight);
    });

    $(".resizable-panels").height($(window).height());
    $('[data-toggle="tooltip"]').tooltip();
    equalise();
  })();
</script>
<script type="text/javascript" src="resources/webgl/TemplateData/UnityProgress.js"></script>
<script type="text/javascript">      
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,
    compatibilitycheck: null,
    dataUrl: "resources/webgl/Release/Release.data",
    codeUrl: "resources/webgl/Release/Release.js",
    memUrl: "resources/webgl/Release/Release.mem",
  };
</script>    
<script type="text/javascript" src="resources/webgl/Release/UnityLoader.js"></script>