<nav class="navbar navbar-default" style="margin:0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" ng-click="editorService.closeEditor()"><i class="fa fa-angle-left fa-lg" style="padding-right: 10px"></i>Project Name - StateName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Preview <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="">Start Previewing</a></li>
        </ul>
      </li>        
    </ul>
  </div>
</nav>    
<div class="content">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Selection Cursor"><i class="fa fa-mouse-pointer"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Translation Cursor" ng-click="unityMapperService.setTransformMode('translate')"><i class="fa fa-arrows"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Rotation Cursor" ng-click="unityMapperService.setTransformMode('rotate')"><i class="fa fa-repeat"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Scale Cursor" ng-click="unityMapperService.setTransformMode('scale')"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
    <div class="col-sm-3 col-md-3">
      <form class="navbar-form">
        <div class="input-group">
          <input ng-model="textModel" type="text" class="form-control" placeholder="Enter text">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addText(textModel)">Add</button>
          </div>
        </div>
      </form>
		</div>
  </nav>
  <unity-editor></unity-editor>
</div>
<sidebar-editor></sidebar-editor>

<input id="addModelInput" type="file" style="position:absolute; top:-1000px" onchange="angular.element(this).scope().uploadNewModel()" />

<bs-modal modal-id="add-asset" modal-size="md">
  <modal-body>
    <div class="row">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="warning">
            <th class="col-xs-1"></th>
            <th class="col-xs-6">Model Name</th>
            <th class="col-xs-2">Action</th>
            <th class="col-xs-2">Include</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="model in modelsOnServer | orderBy:'name'">
            <td></td>
            <td>{{ model.name }}</td>
            <td><a href="#" class="btn btn-default" ng-click="deleteModelFromServer(model)">Delete</a></td>
            <td><input type="checkbox" name="selectedModels[]" value="{{ model.name }}" ng-model="model.included" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <div class="row">
      <div class="col-xs-6">
        <a href="#" class="btn btn-default" onclick="document.getElementById('addModelInput').click()" style="width:100%">Add Model To Server</a>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <a href="#" class="btn btn-default">Apply</a>
        <a href="#" data-dismiss="modal" class="btn btn-default" style="width:50%">Close</a>
      </div>
      <div class="col-xs-12">
        <p class="text-danger" style="text-align:left; margin-top:10px; font-size:14px">
          File must be in (.obj,.fbx,.3ds) format {{ uploadError }}
        </p>
      </div>
    </div>
  </modal-footer>
</bs-modal>

<script type="text/javascript">     
  var el = $('[ng-app=vumixEditorApp]')[0];
  angular.element(el).injector().get('loaderService').showLoader("WebGL is loading");
   
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,
    compatibilitycheck: null,
    dataUrl: "/resources/webgl/Release/webgl.data",
    codeUrl: "/resources/webgl/Release/webgl.js",
    memUrl: "/resources/webgl/Release/webgl.mem",
  };
  
  var downloadUserStuff = function(assetBundleName, stateName) {
    assetBundleName = assetBundleName || '/assetbundles/webglbundles.unity3d';
    stateName = stateName || '/state.dat';
    var combinedName = assetBundleName + ":" + stateName;
    SendMessage ("Facade", 'DownLoadUserStuff', combinedName);
  }
  
  var makeProject = function(stateModels) {
    angular.element(el).injector().get('stateService').addStateModel(JSON.parse(stateModels));
    angular.element(el).injector().get('loaderService').hideLoader();
  }
  
  var globalFunc = {
    unityHasLoaded: function() {
      angular.element(el).injector().get('loaderService').showLoader("Importing all models");
      downloadUserStuff(
        '/storage/' + uid + '/' + pid + '/webglbundles.unity3d',
        '/storage/' + uid + '/' + pid + '/state.dat'
      );
    }
  };
</script>    