<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Back</a>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li>
        <a href="#">
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#save">Save</button>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal for model options button -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><center>Choose your clickable object.</p></center>
        <div class="radio">
          <!-- check on how to use label in html -->
          <label><input type="radio" name="optradio">Object 1</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Object 2</label>
        </div>
        <div class="radio disabled">
          <label><input type="radio" name="optradio">Object 3</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="display: block; margin: 0 auto;">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for save button -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><center>Work has been saved.</p></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="display: block; margin: 0 auto;">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal warning for delete state button -->
<div class="modal fade" id="deleteState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><center>Are you sure you want to delete this state?</p></center>
      </div>
      <div class="modal-footer">
        <a href="#" id="btnYes" class="btn danger">Yes</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal warning for delete connection -->
<div class="modal fade" id="deleteConn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><center>Are you sure you want to delete this connection?</p></center>
      </div>
      <div class="modal-footer">
        <a href="#" id="btnYesConn" class="btn danger">Yes</a>
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="scrollbar" id="style-default">
    <div id="items">
      <h1>Step One:</h1>
      <button type = "button" class="btn btn-primary btn-md" id="add">Click here to create a new state!</button><p></p>
      <h1>Step Two:</h1>
      <p>Give your state a name.</p>
      <h1>Step Three:</h1>
      <p>Edit your state by clicking <span class="glyphicon glyphicon-new-window"></span></p>
      <h1>Step Four:</h1>
      <p>Drag and drop lines from the blue circle to connect your states.</p>
      <h1>Step Five:</h1>
      <p>Choose your clickable object by clicking <span class='glyphicon glyphicon-resize-horizontal'></span></p>
      <br>
      <p>Made a mistake? Double click on your connection line to delete it. 
        Click <span class="glyphicon glyphicon-remove-circle"></span> to delete your entire state.
      </p>
  </div>
  <div class="force-overflow"></div>
  </div>
  <div class="col-sm-8">
    <div id="container">
      <div class="w" id="root" style = "margin-top:200px">
        <a ng-click="editorService.openEditor()" href="" style="margin-left:80px">
          <button id="editor"><span class="glyphicon glyphicon-new-window"></span></button>
        </a>
        <div class="title">Root State</div><div class="ep"></div>
      </div>
    </div>
  </div>
</div> 

<div ui-view class="fullscreen-overlay" ng-show="editorService.open"></div>

<script type="text/javascript">
  var i = 1;
  
  // code taken from https://gist.github.com/umidjons/1fb8ae674df4c71f85cf (posted by RPDeshaies)
  var AngularHelper = (function () {
    var AngularHelper = function () { };
    var defaultApplicationName = "vumixEditorApp";
    AngularHelper.Compile = function ($targetDom, htmlToCompile, applicationName) {
      var $injector = angular.injector(["ng", applicationName || defaultApplicationName]);
      $injector.invoke(["$compile", "$rootScope", function ($compile, $rootScope) {
        var $scope = $targetDom.append(htmlToCompile).scope();
        $compile($targetDom)($scope || $rootScope);
        $rootScope.$digest();
      }]);
    }
    return AngularHelper;
  })();

  jsPlumb.ready(function() {
    jsPlumb.makeSource("root", {
      filter: ".ep",
      anchor: "Continuous",
      connectorStyle: {
        strokeStyle: "black",
        lineWidth: 2,
        outlineColor: "transparent",
        outlineWidth: 4
      },
      overlays: [
        [ "Arrow", { location:0.5 } ],
        [ "Label", { 
          location:[ 2, 2],
          id:"label",
          label:"<button type='button' class='btn btn-default btn-xs' data-toggle='modal' data-target='#myModal'><span class='glyphicon glyphicon-resize-horizontal'></span></button>",
          cssClass:"aLabel",
          events:{
            click:function(labelOverlay, originalEvent) { 
              ShowDialog();
            }
          }
        }]
      ],
      maxConnections: 10,
      onMaxConnections: function (info, e) {
        alert("Maximum connections (" + info.maxConnections + ") reached");
      }
    });

    jsPlumb.on(add, "click", function (e) {
      var newState = $('<div>').attr('id', 'state' + i).addClass('w');
      var button = $('<button id="delete" style="margin-top:10px"><span class="glyphicon glyphicon-remove-circle"></span></button></div>');
      var title = $('<div>').addClass('title');
      var stateName = $('<input>').attr('type', 'text');
      title.append(stateName);
      newState.append(button);
      newState.append('<a ng-click="editorService.openEditor()" href="" style="margin-left:100px"><button id="editor"><span class="glyphicon glyphicon-new-window"></span></button></a></div>');
      var connect = $('<div>').addClass('connect');

      newState.css({
        'top': e.pageY + i * 20,
        'left': e.pageX + i * 100
      });

      newState.append(title);
      newState.append(connect);
      connect.append("<div class=\"ep\"></div>");
      
      //$('#container').append(newState);
      AngularHelper.Compile($('#container'), newState);
      
      jsPlumb.makeTarget(newState, {
        anchor: 'Continuous'
      });

      jsPlumb.makeSource(connect, {
        parent: newState,
        filter: ".ep",
        anchor: "Continuous",
        connectorStyle: {
          strokeStyle: "black",
          lineWidth: 2,
          outlineColor: "transparent",
          outlineWidth: 4
        },
        overlays: [
          [ "Arrow", { location:0.5 } ],
          [ "Label", { 
            location:0.2,
            id:"label",
            label:"<button type='button' class='btn btn-default btn-xs' data-toggle='modal' data-target='#myModal'><span class='glyphicon glyphicon-resize-horizontal'></span></button>",
            cssClass:"aLabel",
            events:{
              click:function(labelOverlay, originalEvent) { 
                //alert('These two states are connected');
                ShowDialog();
              }
            }
          }]
        ],
        maxConnections: 10,
        onMaxConnections: function (info, e) {
          alert("Maximum connections (" + info.maxConnections + ") reached");
        }
      });


      jsPlumb.draggable(newState, {
        containment: 'parent'
      });

      button.click(function(e){
        $('#deleteState').modal('show');
        $('#btnYes').click(function() {
          // handle deletion here
          jsPlumb.detachAllConnections($(newState));
          $(newState).remove();
          $('#deleteState').modal('hide');
        });
        e.stopPropagation();
      });

      jsPlumb.bind('dblclick', function (connection, e) {
        //There's a bug where yes button only works once.
        /*$('#deleteConn').modal('show');
        $('#btnYesConn').click(function(){
        jsPlumb.detach(connection);
        $('#deleteConn').modal('hide');
        e.stopPropagation();
        });*/
        jsPlumb.detach(connection);
      });

      stateName.keyup(function(e) {
        if (e.keyCode === 13) {
          //var state = $(this).closest('.item');
          //state.children('.title').text(this.value);
          $(this).parent().text(this.value);
        }
      });

      stateName.focus();

      i++;    
    });  
  });  
</script>