<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" ng-click="editorService.closeEditor()"><i class="fa fa-angle-left fa-lg" style="padding-right: 10px"></i>State Manager - {{ editorService.name }}</a>
    </div>
  </div>
</nav>    
<div class="content">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Translate Model" ng-click="unityMapperService.setTransformMode('translate')"><i class="fa fa-arrows"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Rotate Model" ng-click="unityMapperService.setTransformMode('rotate')"><i class="fa fa-repeat"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Scale Model" ng-click="unityMapperService.setTransformMode('scale')"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Scale Up Model With Aspect Ratio" ng-mousedown="unityMapperService.scaleUpModel()" ng-mouseup="unityMapperService.cancelPromise()"><i class="fa fa-search-plus"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Scale Down Model With Aspect Ratio" ng-mousedown="unityMapperService.scaleDownModel()" ng-mouseup="unityMapperService.cancelPromise()"><i class="fa fa-search-minus"></i></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="" class="btn btn-default" ng-click="editorService.togglePreview()" >
        <span ng-show="!editorService.preview">Preview</span>
        <span ng-show="editorService.preview">Exit Preview</span>
      </a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Go Prev State" ng-click="goPrevState()"><i class="fa fa-reply"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Go Next State" ng-click="goNextState()"><i class="fa fa-share"></i></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add State" ng-click="addState()"><i class="fa fa-clone"></i></a></li>
    </ul>
      <form class="navbar-form">
        <div class="input-group" style="margin-left:20px;">
          <input ng-model="textModel" type="text" class="form-control custom-input" ng-focus="unityMapperService.activateKeyboard()" ng-blur="unityMapperService.deactivateKeyboard()" placeholder="Enter text">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addText(textModel)">Add</button>
          </div>
        </div>
      </form>
  </nav>
  <unity-editor></unity-editor>
</div>
<sidebar-editor></sidebar-editor>

<input id="addModelInput" type="file" style="position:absolute; top:-1000px" onchange="angular.element(this).scope().uploadNewModel()" />

<bs-modal modal-id="add-asset-to-local" modal-size="md">
  <modal-body>
    <div class="row">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="warning">
            <th class="col-xs-1"></th>
            <th class="col-xs-6">Model Name</th>
            <th class="col-xs-2">Action</th>
            <th class="col-xs-2">Include</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="model in modelsOnServer | orderBy:'name'">
            <td></td>
            <td><label for="checkbox-{{ model.name }}">{{ model.name }}<span ng-show="model.available" class="text-muted" style="font-size: 10px"> - Models already available</span></label></td>
            <td><a href="#" class="btn btn-default" ng-click="deleteModelFromServer(model)">Delete</a></td>
            <td><input id="checkbox-{{ model.name }}" type="checkbox" name="selectedModels[]" value="{{ model.name }}" ng-model="model.included" ng-disabled="model.available" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <div class="row">
      <div class="col-xs-6">
        <a href="#" class="btn btn-default" onclick="document.getElementById('addModelInput').click()" style="width:100%">Add File</a>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <button ng-click="addModelsToAssetBundle()" data-dismiss="modal" class="btn btn-default" ng-disabled="!modelsSelected">Apply</button>
        <a href="#" data-dismiss="modal" class="btn btn-default" style="width:50%">Close</a>
      </div>
      <div class="col-xs-12">
        <p class="text-danger" style="text-align:left; margin-top:10px; font-size:14px">
          File must be in (.obj,.fbx,.3ds, jpg, png or png) format {{ uploadError }}
        </p>
      </div>
    </div>
  </modal-footer>
</bs-modal>

<script type="text/javascript">     
  var el = $('[ng-app=vumixEditorApp]')[0];
  angular.element(el).injector().get('loaderService').showLoader("WebGL is loading");
   
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,
    compatibilitycheck: null,
    dataUrl: "/resources/webgl/Release/webgl.data",
    codeUrl: "/resources/webgl/Release/webgl.js",
    memUrl: "/resources/webgl/Release/webgl.mem",
  };
  
  var downloadUserStuff = function(assetBundleName, stateName) {
    assetBundleName = assetBundleName || '/assetbundles/webglbundles.unity3d';
    stateName = stateName || '/state.dat';
    var combinedName = assetBundleName + ":" + stateName;
    SendMessage ("Facade", 'DownLoadUserStuff', combinedName);
  }
  
  var makeProject = function(stateModels) {
    angular.element(el).injector().get('stateService').addStateModel(JSON.parse(stateModels));
    angular.element(el).injector().get('loaderService').hideLoader();
  }
  
  var globalFunc = {
    unityHasLoaded: function() {
      angular.element(el).injector().get('loaderService').showLoader("Importing all models");
      downloadUserStuff(
        '/storage/' + uid + '/' + pid + '/webglbundles.unity3d',
        '/storage/' + uid + '/' + pid + '/state.dat'
      );
    }
  };
</script>    