<div id="state-manager-page">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/manager" ng-click="editorService.closeEditor()"><i class="fa fa-angle-left fa-lg" style="padding-right: 10px"></i>State Manager</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="saveState()">Save</a></li>
        <li><a href="" ng-click="buildState()">Build APK</a></li>
      </ul>
    </div>
  </nav>    
  <div class="content">
    <div class="sidebar" ui-view="defaultSidebar"></div>
    <div ng-repeat="notification in notifications">
      <div ng-click="notificationService.dismiss(notification)" class="alert alert-{{ notification.type }} top-alert" role="alert">
        <i class="fa fa-{{ notification.type }} fa-lg"></i> <strong>{{ notification.type }}</strong> {{ notification.message }}
      </div> 
    </div>
    <vis-network id="state-graph" data="graphData" options="graphOptions" events="graphEvents"></vis-network>
  </div>
</div>
<loader></loader>
<div ui-view="editor" id="state-editor-page" ng-show="editorService.open"></div>
<!--
<div ui-view="editor" id="state-editor-page" ng-show="editorService.open"></div>
-->

<bs-modal modal-id="edit-state" modal-size="md">
  <modal-body>
    <form id="state-editor-form" name="modal.stateEditorForm" class="form-horizontal bottom-divider">
      <div class="form-group">
        <label for="name-state-editor" class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
          <input type="text" id="name-state-editor" ng-model="stateEditor.name" name="nameStateEditor" class="form-control" placeholder="type new state name" ng-focus="unityMapperService.activateKeyboard()" ng-blur="unityMapperService.deactivateKeyboard()" required />
          <span class="text-warning text-small" ng-show="modal.stateEditorForm.nameStateEditor.$error.required">Name cannot be empty</span>
          <span class="text-warning text-small" ng-show="modal.stateEditorForm.nameStateEditor.$error.duplicate">Cannot duplicate name</span>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <a href="#" data-dismiss="modal" class="btn btn-default" ng-disabled="modal.stateEditorForm.$invalid" ng-click="changeStateProperties()">Apply</a>
    <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
  </modal-footer>
</bs-modal>

<bs-modal modal-id="edit-connector" modal-size="md">
  <modal-body>
    <div class="row">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="warning">
            <th class="col-xs-1"></th>
            <th class="col-xs-8">Object Name</th>
            <th class="col-xs-3">Use as Connector</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="model in connEditor.selectedModels | orderBy:'name'">
            <td></td>
            <td><label for="checkbox-{{ model.instanceName }}">{{ model.instanceName }}<span ng-show="model.stateTransitionId != -1" class="text-muted" style="font-size: 10px"> - Model is used to connect to state "{{ getStateName(model.stateTransitionId) }}"</span></label></td>
            <td><input id="checkbox-{{ model.instanceName }}" type="checkbox" name="selectedModels[]" value="{{ model.instanceName }}" ng-model="model.included" ng-disabled="model.stateTransitionId != -1 && model.stateTransitionId != connEditor.selectedConnector.to" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <a href="" data-dismiss="modal" class="btn btn-default" ng-click="changeConnProperties()">Apply</button>
    <a href="" data-dismiss="modal" class="btn btn-default">Close</a>
  </modal-footer>
</bs-modal>