@import 'partials/alignment';
@import 'partials/button';
@import 'partials/color';

.top-bar {
  background: $bg-color;
  height: 100px;
  width: 100%;
}

.img-banner {
  background: url('../images/img_banner_transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.below-top-bar {
  background: $light-green;
  height: 100px;
  width: 100%;
}

body {
  background: $dark-green;
}

.title {
  color: $light-green;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  img {
    height: 60px;
    margin-top: -10px;
    width: 60px;
  }
}

.container {
  background: $light-green;
  height: 400px;
  width: 100%;
}

.content {
  margin: 50px;  
}

.flexbox-container {
  display: flex;
  > div {
    width: 50%;
  }
}

.subtitle {
  font-size: 20px;
  margin-left: 30%;
  margin-top: -13px;
  width:50%; 
}

.sub-content {
  font-size: 20px;
  margin-top: 130px;
  text-align: right;
}

.vertical-line {
  border-left: thick solid $bg-color;
  margin-left: 100px;
  margin-top: 70px;  
  text-align: left;
}

.btn-danger {
  margin-left: -122px;
  margin-top: 76px;
}