@import 'partials/alignment';
@import 'partials/button';
@import 'partials/color';
@import 'partials/typography';
@import 'partials/modal';

// Nav bar style
.nav-bar {
  background-color: $bg-color;
  border-bottom: 1px solid;
  color: $light-green; 
  height: 50px;
}

.top-bar {
  background-color: $bg-color; 
  color: $text-color; 
  margin-top: 2px;
  
  :hover {
    background-color: $light-green;
  }
}

.active {
  background-color: $bg-color;
  color: $light-blue;
}

// Container fluid
.wrapper {
  margin-left: 300px;
  margin-top: 50px;
}

.content {
  float: right;
  width: 100%; 
}

.sidebar {
  color: $text-color;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word;
  z-index: 0;
}

.cleared {
  clear: both;
}

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px;
}

.welcome-side {
  background-color: $light-green;
  border-right: thin solid $line-grey;
  color: $dim-grey;
}

.create-side {
  background-color: $light-green;
  border-right: thin solid $line-grey;
  color: $bg-color;
}

.update-side {
  background-color: $update-blue;
  border-right: thin solid $line-grey;
  color: $bg-color;
}

.panel-body {
  background-color: $light-blue;
}

input {
  color: $input-color;
  font-size: 13px;
  height: 40px;
  width: 100%;
}

.main {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px;
}

.search {
  margin: 0 auto;
  position: relative;
  width: 250px;

  input {
    background: url('../images/search.png');
    background-color: $bg-color;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: $light-brown;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%;

    &:focus {
      border-color: $light-blue;
      outline: none;
    }
  }
}

.search-bg {
  height: 10%;
  position: fixed;
  width: auto;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 75px;
  margin-left: -21px;
  padding: 0;
}

.flex-item {

  .card {
    img {
      width: 164px;
    }
    .name-holder {
      background-color: $bg-grey; 
      color: $black; 
      font-size: 14px;
      font-weight: bold;
      height: 28px;
      padding-top: 5px;
      margin-bottom:0px;
      text-align:center;
    }
  }
}

.grey-bg{
  background: $black;
  opacity: 0.2;
}

ul {
  list-style: none;
}

.clickable {
  cursor: pointer;
}

.navbar-default .navbar-nav > {
  .open > a {
    background-color: $line-grey;

    &:hover, 
    &:focus {
      background-color: $line-grey;
    }
  }

  li > a {
    &:hover, 
    &:focus {
      background-color: $line-grey;
    }
  }
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
  background-color: $light-green;
  
  &:hover {
      background-color: $light-green;
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
  background-color: $light-green;
}

.icon-delete {
    float: right;
    font-size: 18px;
    height: 40px;
    margin-top: -193px;
    padding-left: 10px;
    width: 40px;
}

.icon-update {
    float: right;
    font-size: 18px;
    height: 40px;
    margin-right: 40px;
    margin-top: -193px;
    padding-left: 10px;
    width: 40px;
}
