@import 'partials/color';
@import 'partials/typography';

.sidebar-style {
  margin-top: 70px;
  padding: 20px;
}

.responsive-page {
  background-color: $slate-gray;
  height: 1200px;
}

.rcorners {
  border: 2px solid $color-lima-approx;
  height: 200px;
  margin: 20px;
  width: 200px;
}

// Nav bar style
.nav-bar {
  background-color: $light-blue;
  height: 50px;
}

// Container fluid
.wrapper {
  margin-left: 300px;
  margin-top: 50px;
}

.content {
  background-color: $bg-color;
  float: right;
  width: 100%; 
}

.sidebar {
  background-color: $purple;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word;
}

.cleared {
  clear: both;
}

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px;
}

button {
  background-color: $light-orange;
  height: 41px;
  width: 100%;
}

input {
  color: $input-color;
  font-size: 13px;
  height: 40px;
  width: 100%;
}

.main {
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px;
}

.search {
  margin: 0 auto;
  position: relative;
  width: 250px;

  input {
    background: url('../images/search.png');
    background-color: $bg-color;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: $light-brown;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%;

    &:focus {
      border-color: $light-blue;
      outline: none;
    }
  }

  .results {
    background-color: $bg-color;
    border-color: $light-brown;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;

    a {
      border: 1px solid transparent;
      border-radius: 3px; 
      color: $input-color;
      display: block;
      font-weight: 500;
      margin: 0 -1px;
      padding: 6px 40px 6px 10px;
      position: relative;
    }
  }
}

