@import 'partials/alignment';
@import 'partials/button';
@import 'partials/color';
@import 'partials/typography';
@import 'partials/modal';

// Nav bar style
.nav-bar {
  background-color: $light-blue;
  height: 50px;
}

.top-bar {
  background-color: $light-blue;  
  margin-top: 2px;
}

.active{
    background-color: $bg-color;
    color: $light-blue;
}

// Container fluid
.wrapper {
  margin-left: 300px;
  margin-top: 50px;
}

.content {
  background-color: $bg-color;
  float: right;
  width: 100%; 
}

.sidebar {
  background-color: $purple;
  float: left;
  margin-left: -300px;
  position: fixed;
  width: 300px;
  word-wrap: break-word;
}

.cleared {
  clear: both;
}

.side-bar-padding {
  padding-left: 32px;
  padding-right: 32px;
}

.panel-body{
  background-color: $light-blue;
}

input {
  color: $input-color;
  font-size: 13px;
  height: 40px;
  width: 100%;
}

.main {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: auto;
  margin-top: 24px;
  width: 250px;
}

.search {
  margin: 0 auto;
  position: relative;
  width: 250px;

  input {
    background: url('../images/search.png');
    background-color: $bg-color;
    background-position: 8px 12px;
    background-repeat: no-repeat;
    border-color: $light-brown;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 16px 0 24px;
    width: 100%;

    &:focus {
      border-color: $light-blue;
      outline: none;
    }
  }
}


.flex-container {
  -webkit-flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-item {

    .card img{
        height: 120px;
        width: 120px;
    }
    
    :hover{
        opacity: 0.8;
    }
}

ul {
  list-style:none;
}

a:hover {
  text-decoration: none;
}
