//colors
@import 'partials/color';

.size {
  padding-bottom: 10px;
  padding-top: 10px;
}

.info {
  background: $color-carnation-approx;
  height: 300px;
  position: relative;
  width: 1440px;
}

.side-bar {
  background-color: $color-regent-st-blue-approx;
  float: left;
  width: 32%;
  word-wrap: break-word;
}

.sidebar-style {
  padding: 20px;
}

.responsive-page {
  background-color: $slate-gray;
  height: 1200px;
}

.rcorners {
  border: 2px solid $color-lima-approx;
  height: 200px;
  margin: 20px;
  width: 200px;
}
